<h2>Edit <%=@landmark.name%></h2>

<form method = 'POST' action = '/landmarks/<%@landmark.id%>'>
  <input type="hidden" name="_method" value="PATCH">
  Name:<input type='text' name='landmark[name]' id='landmark_name'>
  Year:<input type='text' name='landmark[year_completed]' id='landmark_year_completed'>

  <input type='submit' value='Edit Landmark'>


<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
